<div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Your App</a>
    <div class="navbar-collapse">
      <!-- Vecchio Menu -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/animals" routerLinkActive="active">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fruits" routerLinkActive="active">Fruits</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
    <footer class="bg-light text-center">Hello, I'm a footer 😁</footer>
  </nav>
</div>